<app-main-search></app-main-search>
<div class="container">
   <div class="row">
      <div class="col-sm-12 text-center">
         <img src="https://dodhamyatra.in/newimages/kedarnath.jpeg" alt="Chardham Tour Packages" class="img-fluid" />
      </div>
   </div>
</div>
<div class="row">
   <div class="col-sm-3">
      <div class="heading_box">
         <h1 class="heading_slide">Chardham Tour Packages</h1>
      </div>
      <div class="row">
         <div class="col-sm-12">
            <div class="bg-white container_box">
               <ul class="side_list">
                  <li><a href="#">Chardham Family Packages</a></li>
                  <li><a href="#">Chardham Adventure Packages</a></li>
               </ul>
            </div>
         </div>
      </div>
      <div class="heading_box mt-3">
         <h3 class="heading_slide">Char dham Packages from Top Cities</h3>
      </div>
      <div class="row">
         <div class="col-sm-12">
            <div class="bg-white container_box">
               <ul class="side_list">
                  <li><a href="#">Chardham Packages From Delhi</a></li>

                  <li><a href="#">Chardham Packages From Mumbai</a></li>
                  <li><a href="#">Chardham Packages From Haridwar</a></li>
                  <li><a href="#">Chardham Packages From Banagalore</a></li>
                  <li><a href="#">Chardham Packages From Kolkata</a></li>
                  <li><a href="#">Chardham Packages From Pune</a></li>
                  <li><a href="#">Chardham Packages From Chennai</a></li>
                  <li><a href="#">Chardham Packages From Hyderabad</a></li>
                  <li><a href="#">Chardham Packages From Ahmedabad</a></li>
                  <li><a href="#">Chardham Packages From Kerala</a></li>
                  <li><a href="#">Chardham Packages From Vadodara</a></li>
               </ul>
            </div>
         </div>
      </div>
   </div>
   <div class="col-sm-9  top_cob">
      <div class="heading_box">
         <h1 class="heading_slide">Char dham Tour Packages</h1>
      </div>
      <div class="row">
         <div class="col-sm-12">
            <div class="bg-white container_box">
               <p>The <b>char dham yatra</b> is a popular and holy journey for the Hindus. In the India all religious
                  are
                  like to do <b>char dham yatra</b> because of this is a holy trip of LORD SHIVA.The <b>Char Dham
                     yatra
                     2023</b> . Plan your spiritual journey with dodhamyatra.in and experience the holy abodes. The
                  <b>Chardham Yatra by Helicopter</b> is a easy way to reach Uttarakhand. Specially, if you are
                  looking for
                  the <b>chota Char dham</b> trip, By Helicopter is the best way to the <b> Char dham yatra</b> for
                  the
                  good health and worship.
               </p>
               <p></p>
               <div id="laser_content">
                  <p><strong>Char dham: All details</strong></p>
                  <p><strong>Itinerary of Char dham package</strong></p>
                  <p>In the <b>char dham</b> itinerary there are four main places for the visit – Yamunotry,
                     Gangotry,Kedarnath and Badrinath .</p>
                  <p>The temples here marking the spiritual sources of the religion’s four sacred rivers - Ganga,
                     Yamuna,
                     Alaknanda and Mandakini, together making up one of the most prominent pilgrimage circuits in the
                     country. The time between April and November each year witnesses the coming of devotees in
                     thousands
                     who brave the harsh weather, the treacherous mountain roads and trails to get to them.</p>
                  <p>The great philosopher and reformer, Adi Shankaracharya in the 8th century brought together all
                     these
                     pilgrimages into a kind of spiritual circuit, one taken by generations after generations,
                     keeping up
                     the annual tradition of visiting these pilgrimages each year</p>
                  <p><strong>Chardham Yatra’s opening and closing date- 2023</strong></p>
                  <p>Kedarnath Temple will open on 22nd of April 2023, and it will close on 6th of November .</p>
                  <p>Gangotri Temple will open on 22nd of April 2023, and it will close on 5 of November.</p>
                  <p>Yamunotri Temple will open on 22nd of April, and it will close on 6 of November.</p>
                  <p>Badrinath Temple will open on 8th May, and it will close on 10 of November.</p>
                  <p><strong>Chardham Places where you can visit</strong></p>
                  <p><strong>Kedarnath</strong></p>
                  <p>Kedarnath Temple is approx 1200 years old. Kedarnath situated close to the source of the
                     Mandakini
                     River, the Chorabari Glacier and is backed by the frosty Himalayan peaks. It is at approx of
                     11,756
                     foot with Gaurikund being the nearest road-Head to Kedarnath, being about 14 kilometre away.</p>
                  <p></p>
                  <p></p>
                  <p><strong>Kedarnath’s significance</strong></p>
                  <p>Kedarnath is one of the twelve jyotirlingas of all over the India. According to our Hindu
                     religious
                     Kedarnath Temple built by the Pandavas. Pandavas worship the Lord Shiva with the heart. So they
                     make
                     it for the people were the people go and worship of Lord Shiva with the heart..</p>
                  <p></p>
                  <p><strong>Badrinath</strong></p>
                  <p>Badrinath Town located at the Chamoli in Uttarakhand. Badrinath Temple situated here which is a
                     holy
                     place in all over the India. Badrinath is one of the char dham yatra.</p>
                  <p>When people go for the <b> chardham yatra</b> , do dham yatra and <b> kedarnath yatra</b> then
                     they
                     also go Badrinath for the worship.</p>
                  <p></p>
                  <p></p>
                  <p><strong>Overview of Badrinath</strong></p>
                  <p>Badrinath Tample is also known as Badrinarayana temple. Which is the place of Narayana (Vishnu).
                  </p>
                  <p></p>
                  <p><strong>Gangotri</strong></p>
                  <p>Gangotri is a town in Uttrakhanad and here is the Gangotri Temple. Which is the highest temple
                     of
                     goddess Ganga. Gangotry is one of the holy temples in India and also this is the part of chota
                     char
                     dham yatra..</p>
                  <p></p>
                  <p></p>
                  <p></p>
                  <p><strong>Significance of Gangotri</strong></p>
                  <p>Gangotri assumes as a Nature lover. At the Gangotri here is the Gangnani thermal , Surya Kund
                     Gauri
                     Kund are holy kund where people take bath before prayer for the fresh mind. Approx thousands
                     people
                     take bath here every day. People have very strong devote for the Gangotri. That’s why every year
                     millions people come here.</p>
                  <p></p>
                  <p><strong>Yamunotri</strong></p>
                  <p>In the Uttrakhand district here is the Garhwal Himalayas. Yamunotri Temple situated at the
                     Garhwal
                     Himalayas. Yamunotri Temple is dedicated to the Goddess Yamuna. This is the highest temple of
                     Goddess
                     Yamuna.</p>
                  <p></p>
                  <p></p>
                  <p><strong>Significance of Yamunotri</strong></p>
                  <p>In the Hindu religious this knows that Yamuna is the daughter of Lord Surya. Yamunotri Temple is
                     a
                     sign of holy Yamuna water of Goddess Yamuna. People also claim that who will come here also
                     blessed by
                     Lord Suyra.</p>
                  <p></p>
                  <p><strong>Best time to visit Chardham</strong></p>
                  <p>People can do <b> char dham</b> only half of the year because in the winter Uttrakhand had heavy
                     ice
                     falls and low temperature. That is not good for the devotees , so in the season they can’t go
                     there.
                     <b> Char dham Yatra</b> starts in the summer season in the month approx April/May, at this time
                     devotees go there on a grand level and char dham yatra ends in the months approx
                     October/November
                     before the winter.
                  </p>
                  <p></p>
                  <p><strong>Winter in Chardham (October through March)</strong></p>
                  <p>The winter season is at its peak between November and February when the Garhwal Himalayas record
                     sub-zero temperatures with excessive snowfall hampering temple visit. It could be rather
                     difficult to
                     visit Chardham at this time with the weather being extremely harsh, the temples nearing their
                     shut
                     down period.</p>
                  <p><strong>Summer in Chardham (April through June)</strong></p>
                  <p>The Himalayan foothills are beautiful in the summer months with flowers being in full bloom,
                     offering
                     splendid panoramic views. Though you would have to carry your woolens even in summer because the
                     temperatures drop once the sun sets, while the day temperature averages between 20 and 35 degree
                     Celsius.</p>
                  <p><strong>Monsoon in Chardham (June through September)</strong></p>
                  <p>Intense showers and landslides mark the monsoon months in <b>Chardham</b>, with some rivers even
                     bursting their banks. It is definitely not advisable to take up this pilgrimage in these months
                     and
                     wait until the beginning of October to plan your visit.</p>
                  <p>The post-monsoon months has the valleys lush with flowers, the waterfalls gurgling and the
                     surrounding
                     vistas extremely scenic. The temperature just before a harsh winter sets in ranges between 10
                     and 20
                     degree Celsius</p>
                  <p><strong> Char dham Rout</strong></p>
                  <p><strong>Haridwar to Barkot:</strong>We starts the <b>Char dham yatra</b> to your pickup. First
                     of all
                     we pick you from your pickup point Haridwar. Then we take to you from Haridwa to Barkot. The
                     distance
                     between Haridwar to Barkot is 188.6km. Barkot’s view are stunning, Here is Bandarpunch Peak that
                     covered by snow round all year, it give glimpse to people. You will stay at the Barkot in the
                     night
                     and leave in the morning for the Yamunotri.</p>
                  <p><strong>Barkot to Yamunotri and back to Barkot:</strong> Early in the morning after the
                     breakfast you
                     will go for the first dham Yamunotri. Here will the time duration approx 2 h 45 min because the
                     distance between Barkot to Yamunotri is approx 54 km by car. Then after the Yamunotri you will
                     back to
                     Barkot for the night stay.</p>
                  <p></p>
                  <p></p>
                  <p><strong>Barkot to Uttarkashi:</strong> : In the next morning you will take the morning breakfast
                     and
                     leave the hotel for the Uttarkashi. Distence between the rout of Barkot to Uttarkashi is 82km
                     and it
                     will take approx 2 h 45 minutes. In the Uttarkashi here are the top sightseeing that is Kuteti
                     Devi
                     Temple, Nehru Institute of Mountaineering (NIM), Shakti Temple, Govind Pashu Vihar National Park
                     &
                     Sanctuary, Someshwara Mahadev Temple etc.</p>
                  <p><strong>Uttarkashi to Guptkashi:</strong> : In the next morning we will take you Uttarkashi to
                     Guptkashi. Here is the distance between Uttarkashi to Guptkashi is 195km that will take approx 7
                     h.
                     Mandakini river is famous part of the Guptkashi..</p>
                  <p></p>
                  <p><strong>Guptkashi to Gaurikund to Kedarnath:</strong> : By the Guptkashi you will go to
                     Gaurikund.
                     Gaurikund is 30 km far from the Guptkashi. By here you will start your trek for Kedarnath. Here
                     is the
                     15 km trek from Gaurikund to Kedarnath.. If you complete trek by walking then it will take
                     minimum 5
                     to 6 h time. . You can also complete your trek by horse riding and helicopter service.</p>
                  <p></p>
                  <p><strong>Kedarnath to Guptkashi:</strong> After the Kedarnath you will return to the Guptkashi
                     for the
                     dinner and rest. Here is the distance between Kedarnath to Guptkashi is approx 40 km that will
                     take
                     the duration approx 1 h 15 minutes. </p>
                  <p></p>
                  <p></p>
                  <p><strong>Guptkashi to Joshimath:</strong> Then you go for the Joshimath. Joshimath is approx 160
                     km far
                     from the Guptkashi and it takes the time duration minimum 5 h 15 min. Joshimath has many
                     sightseeing
                     places to visit like- Vishnuprayag, Auli lake, Valley of Flowers National Park etc.</p>
                  <p></p>
                  <p><strong>Joshimath to Badrinath :</strong>Distance between Joshimath to Badrinath is 45 km that
                     take
                     the time duration 2 h. You will go to Joshimath to Badrinath. Here are many sightseeing places
                     at
                     Badrinath that you can see. Mana gao is one of the famous sightseeing places of Badrinath. That
                     you
                     will covered by us.</p>
                  <p><strong>Badrinath to Joshimath:</strong> After offering the Badrinath we will take return you
                     for the
                     Joshimath. You will take dinner here and stay at the night.</p>
                  <p><strong>Joshimath to Haridwar:</strong>After the complete <b>char dham</b> in the last morning
                     when
                     you take breakfast then we will take you at the joshimath for the Haridwar Drop. </p>
                  <p></p>
                  <p></p>
                  <p><strong> Some basic lines to be kept in mind when you go for the Char dham</strong></p>
                  <p> - Make sure about opening and closing dates of the Char dham yatra that decleared by the
                     Uttarakhand
                     government always.</p>
                  <p>- If you go for the char dham between October to November, take the sufficient woolen clothes.
                  </p>
                  <p>- For the safety you can also take the medical kit. Because for the emergency you can use that
                  </p>
                  <p>- Some places have some networking problem so be aware about that.</p>
      
                  <p><strong>Chardham Yatra by Helicopter</strong></p>
                  <p>Book <b>Chardham Yatra by Helicopter</b> to visit the four main Dhams (Gangotari, Yamunotri,
                     Kedarnath
                     and Badrinath).</p>
                  <p><strong>Inclusions :</strong></p>
                  <p> - Cab/Tempotraveller facility from Haridwar Railway station / Delhi Airport/ Railway Station
                     /Dehradun Airport, Dehradun Bus Stand and Dehradun - Railway Station and Whole Trip With You Our
                     Transpotation.</p>
                  <p>- Deluxe stay and delicious meals.</p>
                  <p>- Driver as a Guide at every Dham.</p>
                  <p>- Local sightseeing (if Time permits)</p>
                  <p>- Cabio driver In Every Location.</p>
                  <p>- Helicopter Shuttle Tickets for <b>Kedarnath</b> (if Ticket Booked by You).</p>
                  <p>- Mana Goaon Sightseeing at Badrinath</p>
      
                  <p><strong>Exclusions :</strong></p>
                  <p>- Any airfare. - Personal expenses such as laundry, telephone calls, tips & gratuity, mineral
                     water,
                     soft & hard drinks, porterage.</p>
                  <p>- Anything not mentioned in the inclusions.</p>
                  <p>- Additional sightseeing or extra usage of vehicle, other than mentioned in the itinerary.</p>
                  <p>- Entrance Fees & Guide charges.</p>
                  <p>- Any cost arising due to natural calamities like, landslides, road blockage, political
                     disturbances
                     (strikes), etc (to be borne by the client, who is directly payable on the spot).</p>
                  <p>- Still camera/video camera charger.</p>
                  <p>- 5% GST & all Government Taxes.</p>
                  <p>Chardham Yatra by Car for 9 Nights/10 Days @19,500</p>
                  <p><strong>Itinerary -</strong></p>
                  <p>Yamuntri - 2 Night Hotel (Shiv Shakti Resorts/similar)</p>
                  <p>Gangotri - 2 Night Hotel (Krishna Palace/similar)</p>
                  <p>Guptakshi - 2 Night Hotel (Raibar Resort/similar)</p>
                  <p>Kedarnath - 1 Night Hotel (Bombay House/similar)</p>
                  <p>Badrinath - 2 Night Hotel (Hotel Sun Rise/similar)</p>
               </div>
               <a >
                  <div class="showmore-button" id="lasercontent_btn" (click)="showContent()">Read More</div>
               </a>
            </div>
         </div>
      </div>
      <div class="row mt-3">
         <div class="col-sm-12">
            <div class="heading_box">
               <h1 class="heading_slide">Chardham Packages</h1>
            </div>
         </div>
         <div class="col-sm-12">
            <div class="bg-white">
               <div class="table-responsive tbl_short">
                  <table class="table">
                     <thead>
                        <tr>
                           <th scope="col">Chardham Packages</th>
                           <th scope="col" class="text-center">
                              Price <br />
                              <p class="smalltxt">(per person on twin sharing)</p>
                           </th>
                           <th scope="col" class="text-center">Nights</th>
                           <th scope="col" class="text-center">Inclusions</th>
                        </tr>
                     </thead>
                     <tbody>
                        <tr>
                           <td scope="row">Char Dham Yatra by Car 2023</td>
                           <td class="text-center"><i class="fa fa-inr"></i> 12,500</td>
                           <td class="text-center">9 Nights</td>
                           <td class="text-center">Meals , Flights , Accommodation , Transfer , Sightseeing</td>
                           <td class="text-center">
                              <a routerLink="/view-detail">
                                 <div class="btn_small">VIEW DETAILS</div>
                              </a>
                           </td>
                        </tr>
                     </tbody>
                  </table>
               </div>
            </div>
         </div>
      </div>
      <div class="row mt-5">
         <div class="col-sm-12 bestprice-box">
            <div class="yatra-box">
               <div class="best_price">
                  <div class="price">Best Price</div>
               </div>
               <div class="yatra-list">
                  <div class="row row-new">
                     <div class="col-sm-4 col-md-4 col-lg-4 col-new">
                        <div class="yatra-img">
                           <img src="/assets/newimages/11.jpg" alt="char dham package" class="img-fluid" />
                        </div>
                     </div>
                     <div class="col-sm-5 col-md-5 col-lg-5 p-0">
                        <div class="yatra-content">
                           <h3 class="heading-4 heading-4--dark">Dodham Yatra By Car 2023</h3>
                           <div><span class="days_txt">5N/6D</span> <span class="seller_txt">Start & End Point :
                                 Haridwar/Delhi/Dehradun</span></div>
                           <div class="dest_txt">Guptkahsi (2) Kedarnath (1) Badrinath (2) </div>
                           <p>Hotel Cab Dinner Brekfast All included</p>
                           <div class="amenities-images">
                              <div class="amenities-box">
                                 <img src="/assets/newimages/hotel1.jpg" alt="4 dham package" width="35" />
                                 <div class="amenities-txt">Hotel</div>
                              </div>
                              <div class="amenities-box">
                                 <img src="/assets/newimages/car.jpg" alt="Kedarnath Package" width="35" />
                                 <div class="amenities-txt">Transfer</div>
                              </div>
                              <div class="amenities-box">
                                 <img src="/assets/newimages/meal.jpg" alt="Kedarnath Tour package" width="35" />
                                 <div class="amenities-txt">Meals</div>
                              </div>
                              <div class="amenities-box">
                                 <img src="/assets/newimages/slightseeing.jpg" alt="Kedarnath travel agency"
                                    width="35" />
                                 <div class="amenities-txt">Sightseeing</div>
                              </div>
                           </div>
                           <div class="clr"></div>
                        </div>
                     </div>
                     <div class="col-sm-3 col-md-3 col-lg-3 col-new text-end" style="background-color: #f8f9f9">
                        <div class="yatra-content">
                           <div><span class="days_txt">EMI</span> <span class="seller_txt"><i class="fa fa-inr"></i>
                                 2,359</span></div>
                           <p class="ruppe_big"><i class="fa fa-inr"></i> 22,500</p>
                           <p class="sharing_txt">Per Person on twin sharing</p>
                           <a routerLink="/view-detail"
                              class="btn_small">VIEW DETAILS</a>
      
                        </div>
                     </div>
                  </div>
                  <div class="clr"></div>
               </div>
            </div>
         </div>
         <div class="col-sm-12 bestprice-box">
            <div class="yatra-box">
               <div class="best_price">
                  <div class="price">Best Price</div>
               </div>
               <div class="yatra-list">
                  <div class="row row-new">
                     <div class="col-sm-4 col-md-4 col-lg-4 col-new">
                        <div class="yatra-img">
                           <img src="/assets/newimages/12.jpg" alt="Booking for char dham yatra" class="img-fluid" />
                        </div>
                     </div>
                     <div class="col-sm-5 col-md-5 col-lg-5 p-0">
                        <div class="yatra-content">
                           <h2 class="heading-4 heading-4--dark">Char Dham Package </h2>
                           <div><span class="days_txt">9N/10D</span> <span class="seller_txt">Start & End Point :
                                 Haridwar/Delhi/Dehardun</span></div>
                           <div class="dest_txt">Yamnotri (2) Gangotri (2) Guptkashi (2) Kedarnath (1) Badrinath (2)
                           </div>
                           <p>Hotel Cab Dinner Brekfast All included</p>
                           <div class="amenities-images">
                              <div class="amenities-box">
                                 <img src="/assets/newimages/hotel1.jpg" alt="Kedarnath dham package" width="35" />
                                 <div class="amenities-txt">Hotel</div>
                              </div>
                              <div class="amenities-box">
                                 <img src="/assets/newimages/car.jpg" alt="Char dham package" width="35" />
                                 <div class="amenities-txt">Transfer</div>
                              </div>
                              <div class="amenities-box">
                                 <img src="/assets/newimages/meal.jpg" alt="Kedarnath Package" width="35" />
                                 <div class="amenities-txt">Meals</div>
                              </div>
                              <div class="amenities-box">
                                 <img src="/assets/newimages/slightseeing.jpg" alt="Char dham tour package"
                                    width="35" />
                                 <div class="amenities-txt">Sightseeing</div>
                              </div>
                           </div>
                           <div class="clr"></div>
                        </div>
                     </div>
                     <div class="col-sm-3 col-md-3 col-lg-3 col-new text-end" style="background-color: #f8f9f9">
                        <div class="yatra-content">
                           <div><span class="days_txt">EMI</span> <span class="seller_txt"><i class="fa fa-inr"></i>
                                 3,359</span></div>
                           <p class="ruppe_big"><i class="fa fa-inr"></i> 34,500</p>
                           <p class="sharing_txt">Per Person on twin sharing</p>
                           <a routerLink="/view-detail"
                              class="btn_small">VIEW DETAILS</a>
      
                        </div>
                     </div>
                  </div>
                  <div class="clr"></div>
               </div>
            </div>
         </div>
         <div class="col-sm-12 bestprice-box">
            <div class="yatra-box">
               <div class="best_price">
                  <div class="price">Best Price</div>
               </div>
               <div class="yatra-list">
                  <div class="row row-new">
                     <div class="col-sm-4 col-md-4 col-lg-4 col-new">
                        <div class="yatra-img">
                           <img src="/assets/newimages/13.jpg" alt="Char dham yatra by helicopter"
                              class="img-fluid" />
                        </div>
                     </div>
                     <div class="col-sm-5 col-md-5 col-lg-5 p-0">
                        <div class="yatra-content">
                           <h2 class="heading-4 heading-4--dark">Kedarnath Package</h2>
                           <div><span class="days_txt">3N/4D</span> <span class="seller_txt">Start & End Point :
                                 Haridwar/Delhi/Dehradun</span></div>
                           <div class="dest_txt">Guptkashi (2) Kedarnath(1)</div>
                           <p>Hotel Cab Dinner Brekfast All included</p>
                           <div class="amenities-images">
                              <div class="amenities-box">
                                 <img src="/assets/newimages/hotel1.jpg" alt="chota chardham" width="35" />
                                 <div class="amenities-txt">Hotel</div>
                              </div>
                              <div class="amenities-box">
                                 <img src="/assets/newimages/car.jpg" alt="Kedarnath yatra by helicopter"
                                    width="35" />
                                 <div class="amenities-txt">Transfer</div>
                              </div>
                              <div class="amenities-box">
                                 <img src="/assets/newimages/meal.jpg" alt="char dham package" width="35" />
                                 <div class="amenities-txt">Meals</div>
                              </div>
                              <div class="amenities-box">
                                 <img src="/assets/newimages/slightseeing.jpg" alt="Kedarnth package" width="35" />
                                 <div class="amenities-txt">Sightseeing</div>
                              </div>
                           </div>
                           <div class="clr"></div>
                        </div>
                     </div>
                     <div class="col-sm-3 col-md-3 col-lg-3 col-new text-end" style="background-color: #f8f9f9">
                        <div class="yatra-content">
                           <div><span class="days_txt">EMI</span> <span class="seller_txt"><i class="fa fa-inr"></i>
                                 1,359</span></div>
                           <p class="ruppe_big"><i class="fa fa-inr"></i> 15,400</p>
                           <p class="sharing_txt">Per Person on twin sharing</p>
                           <a routerLink="/view-detail" class="btn_small">VIEW DETAILS</a>
      
                        </div>
                     </div>
                  </div>
                  <div class="clr"></div>
               </div>
            </div>
         </div>
         <div class="col-sm-12 bestprice-box">
            <div class="yatra-box">
               <div class="best_price">
                  <div class="price">Best Price</div>
               </div>
               <div class="yatra-list">
                  <div class="row row-new">
                     <div class="col-sm-4 col-md-4 col-lg-4 col-new">
                        <div class="yatra-img">
                           <img src="/assets/newimages/14.jpg" alt="Cahr dham package" class="img-fluid" />
                        </div>
                     </div>
                     <div class="col-sm-5 col-md-5 col-lg-5 p-0">
                        <div class="yatra-content">
                           <h2 class="heading-4 heading-4--dark">Kedarnath Badrinath with Chopta ( Tungnath Temple)
                              and
                              Auli</h2>
                           <div><span class="days_txt">6N/7D</span> <span class="seller_txt">Start & End Point :
                                 Haridwar/Delhi/Dehardun</span></div>
                           <div class="dest_txt">Guptkashi (2) Kedarnath (1) Badrinath (2) Chopta (1)</div>
                           <p>Hotel Cab Dinner Brekfast All included</p>
                           <div class="amenities-images">
                              <div class="amenities-box">
                                 <img src="/assets/newimages/hotel1.jpg" alt="Kedarnath package" width="35" />
                                 <div class="amenities-txt">Hotel</div>
                              </div>
                              <div class="amenities-box">
                                 <img src="/assets/newimages/car.jpg" alt="Kedarnath tour pacakge" width="35" />
                                 <div class="amenities-txt">Transfer</div>
                              </div>
                              <div class="amenities-box">
                                 <img src="/assets/newimages/meal.jpg" alt="Chardham yatra" width="35" />
                                 <div class="amenities-txt">Meals</div>
                              </div>
                              <div class="amenities-box">
                                 <img src="/assets/newimages/slightseeing.jpg" alt="Chardham" width="35" />
                                 <div class="amenities-txt">Sightseeing</div>
                              </div>
                           </div>
                           <div class="clr"></div>
                        </div>
                     </div>
                     <div class="col-sm-3 col-md-3 col-lg-3 col-new text-end" style="background-color: #f8f9f9">
                        <div class="yatra-content">
                           <div><span class="days_txt">EMI</span> <span class="seller_txt"><i class="fa fa-inr"></i>
                                 2,359</span></div>
                           <p class="ruppe_big"><i class="fa fa-inr"></i> 19,500</p>
                           <p class="sharing_txt">Per Person on twin sharing</p>
                           <a routerLink="/view-detail"
                              class="btn_small">VIEW DETAILS</a>
      
                        </div>
                     </div>
                  </div>
                  <div class="clr"></div>
               </div>
            </div>
         </div>
         <div class="col-sm-12 text-center mt-2">
            <a href="https://cabio.in/holidays/list/Chardham" class="btn_red"> VIEW ALL PACKAGES</a>
         </div>
         <div class="col-sm-12 mt-5">
            <div class="heading_box">
               <h3 class="heading_slide">Chardham Tour FAQs</h3>
            </div>
            <div class="bg-white container_box">
               <p><strong>Q. What are the opening and closing dates of the <b>Chardham Yatra</b>?</strong></p>
               <p><strong>A.</strong>Kedarnath Temple will may be open on 22nd of April 2023, and it will close on
                  6th of
                  November, Gangotri Temple will may be open on 22nd of April 2023, and it will close on 5 of
                  November.Yamunotri Temple will may be open on 22nd of April, and it will close on 6 of November.
                  Badrinath Temple will may be open on 8th May, and it will close on 10 of November. </p>
               <br />
               <p><strong>Q. What is the significance of Gangotri in <b>Chardham Yatra</b>?</strong></p>
               <p><strong>A. </strong>The significance of Gangotri has increased a tenfold owing to the Gangotri
                  Temple
                  that was constructed . under the initiative of Gorkha general. This Temple belongs to Goddess Ganga
                  and
                  the shrine houses an idol of the Goddess. There are many natural Kunds in Gangotri that come with
                  immense
                  religious import. Gangotri also assumes as a seeker, nature lover, adventure, and pro trekkers </p>
               <br />
               <p><strong>Q. What route do you take on the <b>Chardham Yatra</b>?</strong></p>
               <p><strong>A. </strong>Here are pickup points from- Haridwar, Dedhradun and Delhi.</p>
               <br />
               <p><strong>Q. Is <b>Chardham yatra booking</b> availabe in 2023?</strong></p>
               <p><strong>A. </strong>Yes Chardham Yatra booking is available in 2023 because Kedarnath temple open
                  dates
                  may be 22 April 2023..</p>
               <br />
               <p><strong>Q. What is the best time to go on a <b>Chardham tour</b>?</strong></p>
               <p><strong>A. </strong>May , June, July , August, September, October are the best time to go on a
                  Chardham
                  Yatra.</p>
               <br />
               <p><strong>Q. Which are the places included in a <b>Chardham trip</b>?</strong></p>
               <p><strong>A. </strong>Here are four Places include in the Chardham Trip.1.Yamunotri 2.Gangotri
                  3.Kedarnath
                  4.Badrinath.</p>
               <br />
               <p><strong>Q. Which type of Vehicle will get for <b>Chardham Yatra</b>?</strong></p>
               <p><strong>A. </strong>It will be cab for Chardham Yatra, according to number of persons like Sedan,
                  SUV,
                  Tempo traveller etc. </p>
            </div>
         </div>
         <app-footer></app-footer>
      </div>
   </div>
</div>
<div class="display_mobile_app">
   <div class="social_icon">
      <div class="row">
         <div class="col-6 text-center">
            <a href="https://api.whatsapp.com/send?phone=+91 8542974420&amp;text=We want Chardham Tour Packages"
               class="icon_book">
               <div class="icon_social">
                  <div><i class="fa fa-whatsapp"></i> WHATSAPP</div>
               </div>
            </a>
         </div>
         <div class="col-6 text-center">
            <a href="tel:8542974420" class="icon_call">
               <div class="icon_social">
                  <div><i class="fa fa-phone"></i> CALL US</div>
               </div>
            </a>
         </div>
      </div>
   </div>
</div>