.text-center{
    margin-bottom: 35px;
}
.heading-4.heading-4--dark{
    font-size: 15px;
    font-weight: 900;
    padding-bottom: 12px;
}
.seller_txt {
    font-size: 16px;
    font-family: 'Lato', sans-serif !important;
}
.price {
    font-size: 13px !important;
    padding: 7px;
}
.heading-4.heading-4--dark {
    font-size: 22px;
    font-weight: 900;
    padding-bottom: 12px;
}

// @media (max-width:540px) {
//     .container {
//         padding: 0 5px;
//     }
// }
