.checkout-page h1{
    text-align: center;
    margin-top: 40px;
    color: blueviolet;
}
.shipping h3{
    margin-top: 40px;
    text-align: center;
}

.checkout-page row{

    text-align: left;
}
.total{
    margin-top: 40px;;
}