<div class="auth-page">
    <div class="container-fluid p-0">
        <div class="row g-0">
            <div class="col-xxl-3 col-lg-4 col-md-5">
                <div class="auth-full-page-content d-flex p-sm-5 p-4">
                    <div class="w-100">
                        <div class="d-flex flex-column h-100">
                            <div class="mb-4 mb-md-5 text-center">
                                <a routerLink="/" class="d-block auth-logo">
                                    <img src="assets/images/logo-sm.svg" alt="" height="28"> <span
                                        class="logo-txt">M-Fuel</span>
                                </a>
                            </div>
                            <div class="auth-content my-auto">
                                <div class="text-center">
                                    <div class="avatar-lg mx-auto">
                                        <div class="avatar-title rounded-circle bg-light">
                                            <i class="bx bxs-envelope h2 mb-0 text-primary"></i>
                                        </div>
                                    </div>
                                    <div class="p-2 mt-4">
                                        <h4>Verify your email</h4>
                                        <p>We have sent you verification email <span
                                                class="fw-bold">example@abc.com</span>, Please check it</p>
                                        <div class="mt-4">
                                            <a routerLink="/" class="btn btn-primary w-10">Verify email</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="mt-5 text-center">
                                    <p class="text-muted mb-0">Didn't receive an email ? <a href="javascript:void(0);"
                                            class="text-primary fw-semibold"> Resend </a> </p>
                                </div>
                            </div>
                            <div class="mt-4 mt-md-5 text-center">
                                <p class="mb-0">© {{year}} M-Fuel. 
                                    <!-- Crafted with <i
                                        class="mdi mdi-heart text-danger"></i> by Themesbrand -->
                                    </p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end auth full page content -->
            </div>
            <!-- end col -->
            <div class="col-xxl-9 col-lg-8 col-md-7">
                <div class="auth-bg pt-md-5 p-4 d-flex">
                    <div class="bg-overlay bg-primary"></div>
                    <ul class="bg-bubbles">
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                    </ul>
                    <!-- end bubble effect -->
                    <div class="row justify-content-center align-items-center">
                        <div class="col-xl-7">
                          <div class="p-0 p-sm-4 px-xl-0">
                            <div id="reviewcarouselIndicators" class="carousel slide" data-bs-ride="carousel">
                              <div class="carousel-inner">
                                <ngb-carousel [showNavigationArrows]="showNavigationArrows">
                                  <ng-template ngbSlide>
                                    <div class="carousel-item active">
                                      <div class="testi-contain text-white">
                                        <i class="bx bxs-quote-alt-left text-success display-6"></i>
            
                                        <h4 class="mt-4 fw-medium lh-base text-white">
                                          “SSN brings to you an advanced toolkit in the world of Consumer Experience Management. We utilize our unique technology, IPBM, to decode and anticipate consumer behaviors in real-time using digital clones. By blending insights from psychology with sophisticated AI, we're revolutionizing how your brand connects with existing customers and discovers potential new ones.”
                                        </h4>
                                   
                                      </div>
                                    </div>
                                  </ng-template>
                                  <ng-template ngbSlide>
                                    <div class="carousel-item active">
                                      <div class="testi-contain text-white">
                                        <i class="bx bxs-quote-alt-left text-success display-6"></i>
            
                                        <h4 class="mt-4 fw-medium lh-base text-white">
                                          “Experience the Power of Our SAAS-Based Consumer Identity Management Platform. Fuel growth, drive personalization, and make data-driven decisions with confidence. Gain a competitive edge in today's dynamic market landscape.”
                                        </h4>
                                      
                                      </div>
                                    </div>
                                  </ng-template>
                                  <ng-template ngbSlide>
                                    <div class="carousel-item active">
                                      <div class="testi-contain text-white">
                                        <i class="bx bxs-quote-alt-left text-success display-6"></i>
            
                                        <h4 class="mt-4 fw-medium lh-base text-white">
                                          “Catalyse your market growth with M-Fuel, a comprehensive and integrated data analytics suite designed to streamline your marketing operations. With M-Fuel's centralized dashboard, you gain full control over your marketing data, from managing leads to tracking campaigns in real-time.”
                                        </h4>
                                     
                                      </div>
                                    </div>
                                  </ng-template>
                                </ngb-carousel>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                </div>
            </div>
            <!-- end col -->
        </div>
        <!-- end row -->
    </div>
    <!-- end container fluid -->
</div>