<div class="col-xl-12" *ngIf="showHtmlChart">
    <div class="card">
        <div class="card-header topHeadList">
            <h4 class="card-title">Consumer Plan Distribution ({{selectedCover != 'null' ? (selectedCover |titlecase): 'All'}} - {{selectedPlan != 'null' ? (selectedPlan |
                titlecase):'All'}}) - {{date_title}}</h4>
            <span class="count">Count : <strong>{{$table.length}}</strong></span>
            <div class="display">
                <!-- <button class="btn btn-light selectbox" (click)="generatePDF()">Pdf downlaod</button>
                &nbsp;&nbsp; -->
                <button class="btn btn-light selectbox" (click)="BacktoDash()">Back</button>&nbsp;
                <button class="btn btn-light selectbox" (click)="exportexcel()">Export to Excel</button>&nbsp;
            </div>

        </div>
        <div class="card-body">
            <div class="table-responsive table-container">
                <div class="filter">
                  
                    <div class="form-group selectbox special mr4 select_drop">
                        <select
                          [(ngModel)]="selectedDay"
                          (change)="onChangeDay()"
                          class="form-control col-sm-10"
                          id="sel1"
                        >
                          <option selected disabled value="null">Day</option>
                          <option value="today">Today</option>
                          <option value="yesterday">yesterday</option>
                        </select>
                      </div>

                    <div class="form-group selectbox special mr4 select_drop">
                        <select
                          [(ngModel)]="selectedMonth"
                          (change)="onMonthChange()"
                          class="form-control col-sm-10"
                          id="sel1"
                        >
                          <option selected value="null">Month</option>
                          <option
                            *ngFor="let option of monthsList"
                            [value]="option.key"
                          >
                            {{ option.value }}
                          </option>
                        </select>
                      </div>

                      <div class="form-group selectbox mr4 special select_drop">
                        <select
                          [(ngModel)]="selectedYear"
                          (change)="onYearChange()"
                          class="form-control col-sm-10"
                          id="sel1"
                        >
                          <option selected value="null">Year</option>
                          <option *ngFor="let option of yearsList" [value]="option">
                            {{ option }}
                          </option>
                        </select>
                      </div>

                      <div class="form-group selectbox mr4 special select_drop">
                        <select
                          [(ngModel)]="selectedPlan"
                          (change)="onChangePlan()"
                          class="form-control col-sm-10"
                          id="sel1"
                        >
                          <option disabled seledcted value = 'null'>Plan</option>
                          <option value="3 Yearly">3 Yearly</option>
                          <option value="Yearly">Yearly</option>
                          <option value="Monthly">Monthly</option>
                          <option value="Monthly 7DRP">Monthly 7DRP</option>
                        </select>
                      </div>

                      <div class="form-group selectbox mr4 special select_drop">
                        <select
                          [(ngModel)]="selectedCover"
                          (change)="onChangeCover()"
                          class="form-control col-sm-10"
                          id="sel1"
                        >
                          <option disabled selected value = 'null'>Cover</option>
                          <option value="Standard">Standard</option>
                          <option value="Premium">Premium</option>
                        </select>
                      </div>
                      <button class="btn btn-light selectbox" (click)="Reset()">Reset</button>&nbsp;
                      <div class="page-records">
                        <div class="form-group selectbox special">
                            <h6 style="margin-top: 5px;">Per Page Record:</h6>
                        </div>
                        <div class="form-group selectbox special mr4 select_drop" style="float: right;">
                            <!-- <h6>Per Page Record:</h6> -->
                            <select #selectedperPage (change)="itemPerPage(selectedperPage.value)"
                                class="form-control col-sm-10">
                                <option value="All">All</option>
                                <option selected value="100">100</option>
                                <option value="200">200</option>
                                <option value="300">300</option>
                                <option value="400">400</option>
                                <option value="500">500</option>
                            </select>

                        </div>
                    </div>
                </div>
                <table class="table mb-0" id="excel-table">
                    <thead class="table-light">
                        <tr>
                            <th class="text-center">S.No</th>
                            <th class="text-center">User Name <i (click)="sort('userName')" class="fa fa-sort"></i></th>
                            <!-- <th class="text-center">last Name</th> -->
                            <th class="text-center">Email <i (click)="sort('email')" class="fa fa-sort"></i></th>
                            <th class="text-center">Mobile <i (click)="sort('phone')" class="fa fa-sort"></i></th>
                            <th class="text-center">Cover Name <i (click)="sort('cover_name')" class="fa fa-sort"></i></th>
                            <th class="text-center">Plan Name <i (click)="sort('plan_name')" class="fa fa-sort"></i></th>
                            <th class="text-center">Appliance Name <i class="fa fa-sort"></i></th>

                            <th class="text-center">Brand Name <i class="fa fa-sort"></i></th>
                            <th class="text-center">Transaction No <i (click)="sort('bankTransaction')" class="fa fa-sort"></i></th>
                            <th class="text-center">Price <i (click)="sort('bankTransaction')" class="fa fa-sort"></i></th>
                            <th class="text-center">Core Reference No <i class="fa fa-sort"></i></th>

                            <th class="text-center">Bank Name <i class="fa fa-sort"></i></th>
                            <th class="text-center">Account No <i (click)="sort('accountNumber')" class="fa fa-sort"></i></th>
                            <th class="text-center">Ip Address <i (click)="sort('ipAddress')" class="fa fa-sort"></i></th>
                            <th class="text-center">Created On <i (click)="sort('createdOn')" class="fa fa-sort"></i></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr
                            *ngFor="let data of $table| paginate:{itemsPerPage: itemsPerPageC, currentPage:p};let i=index;">
                            <td class="text-center" scope="row">{{(p - 1) * itemsPerPageC + i + 1}}</td>
                            <td *ngIf="data.userName !='' " class="text-center"><p appBlockCopyPaste [innerHTML]="data.userName | transformstring:'name'"></p></td>
                            <td *ngIf="data.userName ==''" class="text-center">N.A</td>
                            <td *ngIf="data.email !=''" class="text-center"><p appBlockCopyPaste [innerHTML]="data.email | transformstring:'@'"></p></td>
                            <td *ngIf="data.email ==''" class="text-center">N.A
                            <td *ngIf="data.phone != ''" class="text-center" appBlockCopyPaste><p [innerHTML]="data.phone | transformstring:'mob'"></p></td>
                            <td *ngIf="data.phone == ''" class="text-center">N.A</td>
                            <td *ngIf="data.cover_name !=''" class="text-center">{{data.cover_name}}</td>
                            <td *ngIf="data.cover_name ==''" class="text-center">N.A</td>
                            <td class="text-center">{{data?.plan_name != '' ? data?.plan_name : 'N.A'}}</td>
                            <td *ngIf="data?.bankTransaction !='' " class="text-center">
                                <!-- <span
                                    *ngFor="let tdata of data.bankTransaction;let j=index;">
                                    {{tdata.applianceName}}{{j!=(data.bankTransaction.length-1)?',':''}} 
                                </span> -->
                                <span>
                                  {{displayAplianceName(data?.bankTransaction,data?.plan_name)}}
                                </span>
                            </td>
                            <td *ngIf="data?.bankTransaction =='' " class="text-center">N.A</td>

                            <td *ngIf="data?.bankTransaction !='' " class="text-center">
                                <!-- <span
                                    *ngFor="let tdata of data.bankTransaction;let j=index;">{{tdata.brandName}}{{j!=(data.bankTransaction.length-1)?',
                                    ':''}} </span> -->
                                    <span>
                                      {{displayBrandName(data?.bankTransaction,data?.plan_name)}}
                                    </span>
                            </td>
                            <td *ngIf="data?.bankTransaction =='' " class="text-center">N.A</td>

                            <td *ngIf="data?.bankTransaction !='' " class="text-center">
                              <span>{{transactionUpdate(data?.bankTransaction)}}</span>
                                <!-- <span *ngFor="let tdata of data.bankTransaction;let j=index;">{{tdata.transactionNo}}{{j!=(data.bankTransaction.length-1)?', ':''}} </span> -->
                            </td>
                            <td *ngIf="data?.bankTransaction =='' " class="text-center">N.A</td>

                            <td class="text-center">{{data?.discounted != '' ? data?.discounted : 'N.A' }}</td>

                            <td *ngIf="data?.bankTransaction !='' " class="text-center">
                                <!-- <span
                                    *ngFor="let tdata of data.bankTransaction;let j=index;">{{tdata.coreReference}}{{j!=(data.bankTransaction.length-1)?',
                                    ':''}} </span> -->
                                    <span>
                                      {{displayCoreReference(data?.bankTransaction,data?.plan_name)}}
                                    </span>
                                    
                            </td>
                            <td *ngIf="data?.bankTransaction =='' " class="text-center">N.A</td>

                            <td *ngIf="data.applianceName == ''" class="text-center">N.A</td>
                            <td *ngIf="data.matches[0].bankName !=''" class="text-center">{{data.matches[0].bankName}}
                            </td>
                            <td *ngIf="data.matches[0].bankName ==''" class="text-center">N.A</td>
                            <td *ngIf="data.matches[0].accountNumber !=''" class="text-center">
                                {{data.matches[0].accountNumber}}</td>
                            <td *ngIf="data.matches[0].accountNumber ==''" class="text-center">N.A</td>
                            <td class="text-center">{{data.userDetail?.userMetaData[0]?.ipAddress ?
                                data?.userDetail?.userMetaData[0]?.ipAddress : 'N.A' }}</td>
                            <!-- <td class="text-center" *ngIf="data.userMetaData[0].ipAddress == ''">N.A</td> -->
                            <td class="text-center table-cell">{{data.matches[0].createdOn ? (data.matches[0].createdOn
                                | date : 'dd-MM-yyyy h:mm a') : 'N.A'}}</td>
                            <!-- <td class="text-center" *ngIf="data.userMetaData[0].createdOn ==''">N.A</td> -->
                        </tr>
                        <tr *ngIf="$table.length<=0">
                            <td colspan="14" style="text-align: center; color:rgb(143, 71, 71);">Records Not Found</td>
                        </tr>
                    </tbody>
                </table>

            </div>
            <div *ngIf="$table.length>0" id="pagination" class="mt-2">
                <pagination-controls (pageChange)="p=$event"></pagination-controls>
            </div>
        </div>

    </div>
</div>

<div class="loader-container" *ngIf="!showHtmlChart">
    <div class="lds-facebook">
        <img src="assets/images/whiteBgLoader.gif" />
    </div>
</div>