<section>
    <main class="container-fluid plr0 mpt0 ">
        <section class="ecash_page pt-4 pb-4">
            <div class="container">
                <div class="text-center">
                    <h1 class="packhead fs_30 logo_color2 pt-3 pb-3 position-relative benifits_h2"><span>Terms &amp;
                            Conditions</span></h1>
                </div>
                <div class="row">
                    <div class="ecash_details">
                        <p></p>
                        <div style="text-align: justify;">
                            <p><br><br><span style="font-weight: bold;">Membership Benefit Conditions :</span> You can
                                avail membership benefits up till your Membership term which will be decided as per your
                                requirements and it will automatically expire thereafter. Benefits will be valid seven
                                days a week, excluding Blackout dates this cannot be clubbed with any other discount or
                                promotional offer.<br><span style="font-weight: bold;">Peak Seasons Dates : </span>All
                                benefits will not be valid on the following dates Christmas Eve, Christmas Day, New
                                Year’s Eve, New Year’s Day and Valentine’s Day, April , May and June Months. In case, if
                                you would like to travel during Peak dates then may be Change Your rooms and Plan total
                                package.<br>This membership is transferable to immediate family members and it can also
                                be utilized by member’s guest by producing a valid ID proof at the time of check-in, it
                                is not mandatory for the member to be present at the time of check-in.<br><span
                                    style="font-weight: bold;">Modifications :</span> <span
                                    style="font-style: italic;">Dodhaam Yatra Booking Holidays</span> has the right to
                                modify/change any term and conditions without prior notice, but you will be notified by
                                us via call, message and email.</p>
                            <p><span style="font-weight: bold;">Complimentary Upgrade : </span>In case, during your
                                desired booking dates the required room is booked we will upgrade your room as per
                                availability.<br><span style="font-weight: bold;">Check-in/Check-out :</span> We will
                                provide early check-in and early check-out for our privileged customers.</p>
                            <p><span style="font-weight: bold;">Use of restaurants :</span> We will provide vouchers
                                worth discount of 25% to our guests (family) on the billing of Rs. 1500 or more.
                                (Vegetarian or Non-Vegetarian food)</p>
                            <p><span style="font-weight: bold;">Travel Insurance :</span> We provide Travel Insurance,
                                we have a tie up with ICICI and we will make sure that your family is insured during
                                your travel.<br><span style="font-weight: bold;">Dodhaam Yatra Booking Holidays</span>
                                will not be responsible for any service related issues during force majeure i.e natural
                                calamities, during curfew, strikes and acts of terrorists or any situation which is
                                beyond the control of Dodhaam Yatra Booking Holidays.<br><span
                                    style="font-weight: bold;">Payment Policy :</span> Primarily, 25% payment is
                                required for Booking Resrvation, 2- When You Pickup The Transport 75% Amount Required
                                however if the client cannot pay then 75% payment on the same day Transport Not Depature
                                at Your Trip.<br><span style="font-weight: bold;">Note :</span> If the Remaing payment
                                is not received Before the Start Trip Transpotation Not Move your Destination .<br><span
                                    style="font-weight: bold;">Meal Plan :</span> We are offering Ap, CP, MAP and Half
                                Board meal plans in almost all the destinations, kindly check with the sales executive
                                before confirming your holiday. In few destinations meal plans are not applicable and
                                you will have to purchase your own meal.</p>
                        </div>
                        <p></p>


                    </div>

                </div>
            </div>
        </section>

    </main>
</section>