<header class="d-none  d-md-block headerblue_bg ">
    <div class="container">
        <div class="row">
            <div class="head_number align-items-center d-md-flex  justify-content-end col-12">
                <a href="tel:91 8542974420"><img class="call" style="width: 21px;"
                        src="https://cabio.in/images/call.gif" alt="cabio"></a>

                <a href="tel:91 8542974420" class="sprt_num pt-2 pb-2" title="number">
                    24/7 :+91 8542974420 </a>

                <a href="javascript:void(0)" class="pl-md-2 sprt_num pt-2 pb-2" title="email">
                    <i class="fa fa-envelope-o pr-1"></i>
                    Info@dodhamyatra.in </a>
                <button type="button" class="btn btn-primary red_clss pt-2 pb-2" data-toggle="modal"
                    data-target=".bd-example-modal-lg">Get Enquiry</button>
            </div>
        </div>
    </div>
</header>
<section class="box_shadowtop header_two">

    <div class="container">
        <div class="row mr-1 ml-0">
            <div class="col-md-3 col-sm-2 mobile_none d-none d-md-block p-0">
                <div class="comp_logo">
                    <a class="navbar-brand d-block p-0" routerLink="/">
                        <img itemprop="image" src="/assets/upload/logo.jpeg" alt=" "
                            title=" Dodhamyatra Booking Holidays Private Limited  " class="img-fluid">
                    </a>
                </div>
            </div>
            <div class="col-12  wsmobileheader clearfix hidden-xs-down">
                <a id="wsnavtoggle" class="wsanimated-arrow"><span></span></a>
                <a class="smllogo mt-2 d-inline-block dsdf" routerLink="/">
                    <img itemprop="image" class="img-fluid" src="/assets/upload/logo.jpeg" alt="" title=" ">
                </a>
            </div>
            <div class="col-md-9">
                <div class="row m0">
                    <!-- Mobile Header -->
                    <div class=" col-12 d-md-flex align-items-center justify-content-end">
                        <div class="wsmain clearfix  w-100">

                            <nav class="wsmenu clearfix d-md-flex align-items-center flex-column">
                                <div class="overlapblackbg"></div>
                                <ul class="wsmenu-list d-md-flex justify-content-end">





                                    <!--<li class="wsshopmyaccount d-sm-none">
                                        <ul class="ls_none mob_sign_and_signup">
                                            <li><a href="javascript:void(0);"  data-toggle="modal" data-target="#loginmodal"
                                                    class="custom_login pl-0 login_nd_reg fw_6">Customer Login </a>
                                            </li>
                                        </ul>
                                    </li>-->


                                    <br />
                                    <li class="wsshopmyaccount d-sm-none">
                                        <p>Mail Us : Info@dodhamyatra.in </p>
                                    </li>
                                    <!--<li class="wsshopmyaccount d-sm-none">-->
                                    <!--    <p>Toll free : 1800-532-3636  </p>-->
                                    <!--</li>-->
                                    <li class="wsshopmyaccount d-sm-none">
                                        <p> 24/7 Service :+91 8542-974420</p>
                                    </li>






                                    <li aria-haspopup="true" class="wsshopmyaccount flight_click li_click"><a
                                            title="flight" routerLink="/">Home</a>
                                    </li>
                                    <li aria-haspopup="true" class="wsshopmyaccount hotel_click li_click"><a
                                            title="hotel" routerLink="/about-us">About Us</a>
                                    </li>





                                    <li aria-haspopup="true" class="wsshopmyaccount"><a title="Blog"
                                            routerLink="/contact-us">Contact Us</a>
                                    </li>


                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

