<header class="d-none  d-md-block headerblue_bg ">
    <div class="container">
        <div class="row">
            <div class="head_number align-items-center d-md-flex  justify-content-end col-12">
                <a href="tel:91 8542974420"><img class="call" style="width: 21px;" src="https://cabio.in/images/call.gif" alt="cabio"></a>

                <a href="tel:91 8542974420" class="sprt_num pt-2 pb-2" title="number">
                    24/7 :+91 8542974420 </a>

                <a href="javascript:void(0)" class="pl-md-2 sprt_num pt-2 pb-2" title="email">
                    <i class="fa fa-envelope-o pr-1"></i>
                    Info@dodhamyatra.in                    </a>
                <button type="button" class="btn btn-primary red_clss pt-2 pb-2" data-toggle="modal"
                    data-target=".bd-example-modal-lg">Get Enquiry</button>
            </div>
        </div>
    </div>
</header>
<section class="box_shadowtop header_two">
   
    <div class="container">
        <div class="row mr-1 ml-0">
            <div class="col-md-3 col-sm-2 mobile_none d-none d-md-block p-0">
                <div class="comp_logo">
                    <a class="navbar-brand d-block p-0" href="/">
                        <img itemprop="image"  src="/assets/upload/logo.jpeg"  alt=" "
                            title=" Dodhamyatra Booking Holidays Private Limited  " class="img-fluid">
                    </a>
                </div>
            </div>
            <div class="col-12  wsmobileheader clearfix hidden-xs-down">
                <a id="wsnavtoggle" class="wsanimated-arrow"><span></span></a>
                <a class="smllogo mt-2 d-inline-block dsdf" href="/">
                    <img itemprop="image" class="img-fluid"
                        src="/assets/upload/logo.jpeg"
                        alt=""
                        title=" ">
                </a>
            </div>
            <div class="col-md-9">
                <div class="row m0">
                    <!-- Mobile Header -->
                    <div class=" col-12 d-md-flex align-items-center justify-content-end">
                        <div class="wsmain clearfix  w-100">

                            <nav class="wsmenu clearfix d-md-flex align-items-center flex-column">
                                <div class="overlapblackbg"></div>
                                <ul class="wsmenu-list d-md-flex justify-content-end">





                                    <!--<li class="wsshopmyaccount d-sm-none">
                                        <ul class="ls_none mob_sign_and_signup">
                                            <li><a href="javascript:void(0);"  data-toggle="modal" data-target="#loginmodal"
                                                    class="custom_login pl-0 login_nd_reg fw_6">Customer Login </a>
                                            </li>
                                        </ul>
                                    </li>-->


                                    <br />
                                    <li class="wsshopmyaccount d-sm-none">
                                        <p>Mail Us : Info@dodhamyatra.in </p>
                                    </li>
                                    <!--<li class="wsshopmyaccount d-sm-none">-->
                                    <!--    <p>Toll free : 1800-532-3636  </p>-->
                                    <!--</li>-->
                                    <li class="wsshopmyaccount d-sm-none">
                                        <p>                                                 24/7 Service :+91 8542-974420</p>
                                    </li>





                                   
                                    <li aria-haspopup="true" class="wsshopmyaccount flight_click li_click"><a
                                            title="flight" href="/">Home</a>
                                    </li>
                                    <li aria-haspopup="true" class="wsshopmyaccount hotel_click li_click"><a
                                            title="hotel" href="/">About Us</a>
                                    </li>
                                   

                                   

                                    
                                    <li aria-haspopup="true" class="wsshopmyaccount"><a title="Blog"
                                            href="/">Contact Us</a>
                                    </li>
                                    

                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>



  <div class="container">
     <div class="row">
        <div class="col-sm-12 text-center">
           <img src="/assets/newimages/banner.webp" alt="" class="img-fluid" />
        </div>
     </div>
  </div>
  
  <div class="container">
    <div class="row">
       <div class="col-sm-12 text-center">
          <div class="form_box_section" id="form_box">
             <form class="" target="_blank"  action="#" method="post">
                <div class="row">
                   <div class="col-sm-12">
                      <h3 class="text-white form_head">Get the Best Chardham Planned by Experts!</h3>
                      
                  
              
                   </div>
                </div>
                
                <div class="row align-items-end">
                   <div class="col-sm mb-2">
                      <label>Select Package </label>
                      <select class="form-control" name="package" id="package">
                            
                          
                         <!--<option value="Chardhaam">Chardhaam</option>-->
                         <!--<option value="Dodhaam">Dodhaam</option>-->
                         <!--<option value="Kedarnath">Kedarnath</option>-->
                         
                      </select>
                   </div>
                   <div class="col-sm mb-2">
                      <label>Select Person</label>
                      <select class="form-control" name="nop" id="nop">
                         <option value="2">2</option>
                         <option value="3">3</option>
                         <option value="4">4</option>
                         <option value="5">5</option>
                         <option value="6">6</option>
                         <option value="7">7</option>
                         <option value="8">8</option>
                         <option value="9">9</option>
                         <option value="10">10</option>
                         <option value="11">11</option>
                         <option value="12">12</option>
                         <option value="13">13</option>
                         <option value="14">14</option>
                         <option value="15">15</option>
                         <option value="16">16</option>
                         <option value="17">17</option>
                         <option value="18">18</option>
                         <option value="19">19</option>
                         <option value="20">20</option>
                         <option value="21">21</option>
                         <option value="22">22</option>
                         <option value="23">23</option>
                         <option value="24">24</option>
                         <option value="25">25</option>
                         <option value="26">26</option>
                         <option value="27">27</option>
                         <option value="28">28</option>
                         <option value="29">29</option>
                         <option value="30">30</option>
                         <option value="31">31</option>
                         <option value="32">32</option>
                         <option value="33">33</option>
                         <option value="34">34</option>
                         <option value="35">35</option>
                         <option value="36">36</option>
                         <option value="37">37</option>
                         <option value="38">38</option>
                         <option value="39">39</option>
                         <option value="40">40</option>
                         <option value="41">41</option>
                         <option value="42">42</option>
                         <option value="43">43</option>
                         <option value="44">44</option>
                         <option value="45">45</option>
                         <option value="46">46</option>
                         <option value="47">47</option>
                         <option value="48">48</option>
                         <option value="49">49</option>
                         <option value="50">50</option>
                         
                      </select>
                   </div>
                   <div class="col-sm mb-2">
                      <label>Mobile Number</label>
                      <input type="text" name="mobile"  required class="form-control">
                   </div>
                   <div class="col-sm mb-2">
                      <label>Select Travel Month</label>
                      <select class="form-control" name="year" id="year">
                          <option value="APR">APR</option>
                         <option value="MAY">MAY</option>
                         <option value="JUNE">JUNE</option>
                         <option value="JULY">JULY</option>
                         <option value="AUG">AUG</option>
                         <option value="SEP">SEP</option>
                         <option value="OCT">OCT</option>
                         <option value="NOV">NOV</option>
                         <option value="DEC">DEC</option>
                         <option value="JAN">JAN</option>
                      </select>
                   </div>
                   <div class="col-sm  mb-2">
                      <label></label>
                      <input type="submit" name="" class="btn_form" id="getclick" value="Get Free Quotes">
                   </div>
                </div>
             </form>
          </div>
       </div>
    </div>
 