<div class="my-order">
    <h1>My Order History</h1>
    <div class="row head">


        <div class="col-sm-2">
            <span>Order </span>
        </div>
        <div class="col-sm-2">
            <span>Order Id</span>
        </div>
        <div class="col-sm-2">
            <span>Price</span>
        </div>
        <div class="col-sm-2">
            <span>Status</span>
        </div>
        <div class="col-sm-2">
            <span>Action</span>
        </div>
    </div>
    <div class="row order-data" *ngFor="let item of getMyOrder">

        <div class="col-sm-2">
            <img class="order-img"
                src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRKWRZjsDBr1SNypzm1piaUD0CsKB0x_eUEw3JhyP3WyA&s">
        </div>
        <div class="col-sm-2">
            <span># {{item.id}}</span>
        </div>
        <div class="col-sm-2">
            <span>{{item.total_price}}</span>
        </div>
        <div class="col-sm-2">
            <span>In Progress</span>
        </div>
        <div class="col-sm-2">
           <button class="form-button"> Cancel</button>
        </div>
    </div>
    
</div>