<footer class=" main_footer ">


  <div class="container footer_data pt-4 pb-4">
    <div class="row  ">
      <div class="col-lg-7 col-md-4 col-sm-4 span2 foot-left">
        <div class="row m-md-0">
          <div class="col-md-6 col-12"><img src="/assets/upload/logo.jpeg" alt="" title="Char dham Package "
              class="img-fluid footlogo" style="width: 350.5px;">
            <div class="social_link1">
              <ul class="icons_footer ">
                <li><a href="https://www.facebook.com/cabioholidays" class="fa fa-facebook" target="_blank"
                    title="facebook">
                  </a> </li>

                <li><a href="https://www.youtube.com/@cabio4674" class="fa fa-youtube" target="_blank"
                    title="youtube"></a></li>
                <li><a href="https://www.instagram.com/cabiocabs/" class="fa fa-instagram" target="_blank"
                    title="instagram"> </a></li>
                <li><a href="https://www.linkedin.com/in/cabio-holidays-75a95b22a/" class="fa fa-linkedin"
                    target="_blank" title="linkedin"> </a></li>
              </ul>
            </div>
          </div>
          <div class="col-lg-6 col-md-6 footer-address">

            <div class="row m-0">

              <br />

              <div class="adress_text">
                <!--<span class="d-block">-->
                <!--    Toll Free No. :1800-532-3636 </span>-->
                <span class="d-block">
                  24/7 Service :+91 8542-974420 </span>
                <span>Complaints & Suggestions : <a
                    href="https://api.whatsapp.com/send?phone=+918542974420&text=Hello%20,%20welcome%20to%20DodhaamYatrabooking%20Holidays%20,%20let%20us%20know%20how%20we%20can%20help%20you">+91
                    8542-974420 (<i class="fa fa-whatsapp whatsapp_color"></i>)</a> </span>
                <span>Mail Us : Info@dodhamyatra.in </span>



              </div>

            </div>

          </div>
          <div class="col-12 ml-md-3">

            <div class="card_payment align-items-center">
              <span class="fw_5 logo_color2 ">WE ACCEPT:</span>

              <img src="/assets/img/gpay.png">
              <img src="/assets/img/maestro.svg">
              <img src="/assets/img/mastercard.svg">

              <img src="/assets/img/paypal.svg">


            </div>
          </div>
        </div>
      </div>



      <div class=" col-lg-5">
        <div class="row">
          <div class="col-12 our_prtnr">


            <ul class="fot-hotel p0">
              <li routerLink="">Home</li>
              <li><a routerLink="/about-us" style="color: white;">About Us</a></li>
              <li><a routerLink="/contact-us" style="color: white;">Contact Us</a></li>

              <li><a routerLink="/terms-condition" style="color: white;">Terms & Conditions</a></li>


            </ul>




            <p class="mb-0"><span class="fw_5"><b>Important Link for Yatri:</b></span> <span>

                <ul class="fot-hotel p0">
                  <li><a href="https://heliservices.uk.gov.in/" target="_blank" style="color: white;"><b>Kedarnath
                        Helicopter Booking</b></a></li>
                  <li> <a href="https://registrationandtouristcare.uk.gov.in/signin.php" target="_blank"
                      style="color: white;"> <b>Char Dham yatra Registration</b></a></li>
                  <li><a href="https://uttarakhandtourism.gov.in/activity/char-dham" target="_blank"
                      style="color: white;"> <b>Char Dham Latest News</b></a></li>
                  <li> <a href="https://www.youtube.com/watch?v=CZ552cYQ0Gc&t=123s" target="_blank"
                      style="color: white;"><b>Char Dham Yatra Video</b></a></li>
                  <li><a href="https://cabio.in/" target="_blank" style="color: white;"> <b>Chardham Taxi
                        Service</b></a></li>
                </ul>




              </span></p>
          </div>
        </div>

      </div>

    </div>
  </div>


  <div class="display_mobile_app displaymob">
    <div class="social_icon">
        <div class="row">
            <div class="col-6 text-center">
                <a href="https://api.whatsapp.com/send?phone=+91 8542974420&amp;text=We want Chardham Tour Packages" class="icon_book">
                    <div class="icon_social">
                        <div><i class="fa fa-whatsapp"></i> WHATSAPP</div>
                    </div>
                </a>
            </div>
            <div class="col-6 text-center">
                <a href="tel:8542974420" class="icon_call">
                    <div class="icon_social">
                        <div><i class="fa fa-phone"></i> CALL US</div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>

  <!-- <script type="text/javascript">
      function openAskExpert(tab) {
        $('#askExpertFrame').attr('src', 'https://app.' + 'mailjet' + '.com/widget/iframe/1drf/9rc');
        $('#askExpertModal').modal('show');
        return false;
      }
    </script> -->


  <div class="copyright_footer">
    <div class="container">
      <div class="row securerow">
        <div class="col-sm-4 col-12 d-flex align-items-center">
          <p class="copyright fs_12 mb-0">© 2023 - 2024 Raykjavik Cabiocab Pvt. Ltd. </p>
        </div>

      </div>

    </div>
  </div>

</footer>