<div class="seller-auth">
    <div class="sellerSignUp" *ngIf="!showLogin">
        <h1>Seller Sign-Up</h1>
        <form #sellerSignUp="ngForm" (ngSubmit)="signUp(sellerSignUp.value)" class="common-form">
            <input type="text" class="form-input" ngModel name="name" placeholder="Enter name">
            <input type="email" class="form-input" ngModel name="email" placeholder="Enter email">
            <input type="password" class="form-input" ngModel name="password" placeholder="Enter password">
            <button class="form-button">Sign-Up</button>
            <a (click)="openLogin()">Already have account?Click login</a>
        </form>
    </div>

    <div class="sellerLogin" *ngIf="showLogin">
        <h1>Seller Login</h1>
        <p class="error-p">{{authError}}</p>
        <form #sellerLogin="ngForm" (ngSubmit)="login(sellerLogin.value)" class="common-form">

            <input type="email" class="form-input" ngModel name="email" placeholder="Enter email">
            <input type="password" class="form-input" ngModel name="password" placeholder="Enter password">
            <button class="form-button">Login</button>
            <a (click)="openSignUp()">Open Sign-Up</a>
        </form>
    </div>
</div>