<div class="auth-page">
  <div class="container-fluid p-0">
    <div class="row g-0">
      <div class="col-xxl-3 col-lg-4 col-md-5">
        <div class="auth-full-page-content d-flex p-sm-5 p-4">
          <div class="w-100">
            <div class="d-flex flex-column h-100 loginEquelSpace">
              <div class="mb-md-5 text-center">
                <a class="d-block auth-logo">
                  <img src="assets/images/latest_mfuel_logo_name2.png" alt="" height="28" />
                  <!-- <span class="logo-txt">M-Fuel</span> -->
                </a>
              </div>
              <div class="auth-content my-auto">
                <div class="text-center">
                  <h5 class="mb-0">Welcome Back !</h5>
                  <p class="text-muted mt-2">Sign in to continue to M-Fuel.</p>
                </div>
                <!-- (ngSubmit)="onSubmit()" -->
                <form [formGroup]="loginForm">
                  <div class="mb-3">
                    <label for="email">Email</label>
                    <input type="email" class="form-control" id="email" formControlName="email"
                      [ngClass]="{ 'is-invalid': submitted && f.email.errors }" placeholder="Enter email" 
                      (keydown)="keydown($event)" maxlength="50"/>
                    <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                      <div *ngIf="f.email.errors.required">
                        Email is required
                      </div>
                      <div *ngIf="f.email.errors.email">
                        Email must be a valid email address
                      </div>
                    </div>
                  </div>

                  <div class="mb-3">
                    <div class="float-end">
                      <a routerLink="/account/recoverpw" class="text-muted">Forgot
                        password?</a>
                    </div>
                    <label for="userpassword">Password</label>
                    <div class="input-group auth-pass-inputgroup">
                      <input [type]="fieldTextType ? 'text' : 'password'" class="form-control"
                        formControlName="password" [ngClass]="{
                          'is-invalid': submitted && f.password.errors
                        }" placeholder="Enter password" aria-label="Password" aria-describedby="password-addon"
                        (keydown)="keydown($event)" minlength="8" maxlength="16" />
                      <button class="btn btn-light" type="button" id="password-addon">
                        <i class="mdi" [ngClass]="{
                            'mdi-eye-off-outline': !fieldTextType,
                            'mdi-eye-outline': fieldTextType
                          }" (click)="toggleFieldTextType()"></i>
                      </button>
                      <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                        <span *ngIf="f.password.errors.required">Password is required</span>
                      </div>
                    </div>
                  </div>

                  <!-- <div class="form-check">
                                        <input class="form-check-input" type="checkbox" id="remember-check">
                                        <label class="form-check-label" for="remember-check">
                                            Remember me
                                        </label>
                                    </div> -->

                  <!-- <div  *ngIf="is_forgot_pass_show">
                      <a href="" (click)="is_forgot_password('sravan')">forgot password</a>
                    </div> -->
                  <div class="mt-3 d-grid">
                    <button class="btn btn-primary btn-block" type="button" (click)="onSubmit()">
                      Log In
                    </button>
                  </div>
                </form>

                <!-- <div class="mt-4 pt-2 text-center">
                                    <div class="signin-other-title">
                                        <h5 class="font-size-14 mb-3 text-muted fw-medium">- Sign in with -</h5>
                                    </div>

                                    <ul class="list-inline mb-0">
                                        <li class="list-inline-item">
                                            <a href="javascript:void()"
                                                class="social-list-item bg-primary text-white border-primary">
                                                <i class="mdi mdi-facebook"></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a href="javascript:void()"
                                                class="social-list-item bg-info text-white border-info">
                                                <i class="mdi mdi-twitter"></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a href="javascript:void()"
                                                class="social-list-item bg-danger text-white border-danger">
                                                <i class="mdi mdi-google"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div> -->

                <!-- <div class="mt-5 text-center">
                                    <p class="text-muted mb-0">Don't have an account ? <a routerLink="/account/register"
                                            class="text-primary fw-semibold"> Signup now </a> </p>
                                </div> -->
              </div>
              <div class="mt-4 mt-md-5 text-center copyright">
                <p class="mb-0">
                  © {{ year }} M-Fuel.
                  <!-- Crafted with 
                                    <i class="mdi mdi-heart text-danger"></i> by
                                    Themesbrand -->
                </p>
              </div>
            </div>
          </div>
        </div>
        <!-- end auth full page content -->
      </div>
      <!-- end col -->
      <div class="col-xxl-9 col-lg-8 col-md-7 mesageposinmob">
        <div class="auth-bg pt-md-5 p-4 d-flex">
          <div class="bg-overlay bg-primary"></div>
          <ul class="bg-bubbles">
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
          </ul>
          <!-- end bubble effect -->
          <div class="row justify-content-center align-items-center">
            <div class="col-xl-7">
              <div class="p-0 p-sm-4 px-xl-0">
                <div id="reviewcarouselIndicators" class="carousel slide" data-bs-ride="carousel">
                  <div class="carousel-inner">
                    <ngb-carousel [showNavigationArrows]="showNavigationArrows">
                      <ng-template ngbSlide>
                        <div class="carousel-item active">
                          <div class="testi-contain text-white">
                            <i class="bx bxs-quote-alt-left text-success display-6"></i>

                            <h4 class="mt-4 fw-medium lh-base text-white">
                              “SSN brings to you an advanced toolkit in the world of Consumer Experience Management. We utilize our unique technology, IPBM, to decode and anticipate consumer behaviors in real-time using digital clones. By blending insights from psychology with sophisticated AI, we're revolutionizing how your brand connects with existing customers and discovers potential new ones.”
                            </h4>
                       
                          </div>
                        </div>
                      </ng-template>
                      <ng-template ngbSlide>
                        <div class="carousel-item active">
                          <div class="testi-contain text-white">
                            <i class="bx bxs-quote-alt-left text-success display-6"></i>

                            <h4 class="mt-4 fw-medium lh-base text-white">
                              “Experience the Power of Our SAAS-Based Consumer Identity Management Platform. Fuel growth, drive personalization, and make data-driven decisions with confidence. Gain a competitive edge in today's dynamic market landscape.”
                            </h4>
                          
                          </div>
                        </div>
                      </ng-template>
                      <ng-template ngbSlide>
                        <div class="carousel-item active">
                          <div class="testi-contain text-white">
                            <i class="bx bxs-quote-alt-left text-success display-6"></i>

                            <h4 class="mt-4 fw-medium lh-base text-white">
                              “Catalyse your market growth with M-Fuel, a comprehensive and integrated data analytics suite designed to streamline your marketing operations. With M-Fuel's centralized dashboard, you gain full control over your marketing data, from managing leads to tracking campaigns in real-time.”
                            </h4>
                         
                          </div>
                        </div>
                      </ng-template>
                    </ngb-carousel>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-12 hideondesktop">
        <div _ngcontent-bbr-c120="" class="mt-4 mt-md-5 text-center">
          <p _ngcontent-bbr-c120="" class="mb-0">© 2023 M-Fuel.</p>
        </div>
      </div>
      <!-- end col -->
    </div>
    <!-- end row -->
  </div>
  <!-- end container fluid -->
</div>

<script id="Cookiebot" src="https://consent.cookiebot.com/uc.js" data-cbid="21eda45c-564c-4bbc-88cf-0b54e251fd26" type="text/javascript" async></script>
