<app-header></app-header>

<router-outlet></router-outlet>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.js"
   integrity="sha512-CX7sDOp7UTAq+i1FYIlf9Uo27x4os+kGeoT7rgwvY+4dmjqV0IuE/Bl5hVsjnQPQiTOhAX1O2r2j5bjsFBvv/A=="
   crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.2/js/bootstrap.min.js"
   integrity="sha512-5BqtYqlWfJemW5+v+TZUs22uigI8tXeVah5S/1Z6qBLVO7gakAOtkOzUtgq6dsIo5c0NJdmGPs0H9I+2OHUHVQ=="
   crossorigin="anonymous" referrerpolicy="no-referrer"></script>


<script type="text/javascript"
   src="https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.carousel.min.js"></script>
<script>
   $('a[href="#"]').click(function (event) {

      event.preventDefault();

   });

   $(document).ready(function () {

      $("#lasercontent_btn").click(function () {
         alert();
         var elem = $("#lasercontent_btn").text();
         if (elem == "Read More") {
            $("#lasercontent_btn").text("Read Less");
            $("#laser_content").slideDown();
         } else {
            $("#lasercontent_btn").text("Read More");
            $("#laser_content").slideUp();
         }
      });
   });
</script>

<script type="text/javascript">
   $(document).ready(function () {

      $("#feed_slider").owlCarousel({
         items: 6,
         itemsDesktop: [1199, 4],
         itemsDesktopSmall: [980, 4],
         itemsMobile: [600, 3],
         autoPlay: false,
      });
   });
   $(document).scroll(function () {
      var y = $(this).scrollTop();
      if (y > 650) {
         $(".display_mobile_app").addClass("displaymob");
      } else {
         $(".display_mobile_app").removeClass("displaymob");
      }
   });
</script>
<!--modal end -->
<app-footer-new></app-footer-new>
<script src="https://cdn.jsdelivr.net/npm/lazyload@2.0.0-rc.2/lazyload.js"></script>


<script type="text/javascript">
   $(function () {
      $("img").lazyload({
         effect: "fadeIn",
         effectTime: 100,
         threshold: 0
      });
   });
   setTimeout($(".alert-danger").delay(5000).fadeOut(), 50000);
</script>