<div class="col-sm-12 mt-4 mb-5">
    <div class="heading_box">
       <h3 class="heading_slide">Popular /Tour Packages in India</h3>
    </div>
<div class="tab_box bg-white">
    <!-- <div class="owl-carousel text-center nav nav-tabs nav-pills nav-fill" id="feed_slider" id="myTab" role="tablist">
                                      <div class="post-slide2">
                                          <li class="nav-item" role="presentation">
          <button class="nav-link active" id="tab_sec1" data-bs-toggle="tab" data-bs-target="#sec-tab-pane1" type="button" role="tab" aria-controls="sec-tab-pane1" aria-selected="true">Family</button>
       </li>
                                      </div>

                                      <div class="post-slide2">
                                          <li class="nav-item" role="presentation">
          <button class="nav-link" id="tab_sec2" data-bs-toggle="tab" data-bs-target="#sec-tab-pane2" type="button" role="tab" aria-controls="sec-tab-pane2" aria-selected="false">Places to visit</button>
       </li>
                                      </div>

                                      <div class="post-slide2">
                                          <li class="nav-item" role="presentation">
          <button class="nav-link" id="tab_sec3" data-bs-toggle="tab" data-bs-target="#sec-tab-pane3" type="button" role="tab" aria-controls="sec-tab-pane3" aria-selected="false">Best time to visit</button>
       </li>
                                      </div>
                                      <div class="post-slide2">
                                         <li class="nav-item" role="presentation">
          <button class="nav-link" id="tab_sec4" data-bs-toggle="tab" data-bs-target="#sec-tab-pane4" type="button" role="tab" aria-controls="sec-tab-pane4" aria-selected="false">How to reach</button>
       </li>
                                      </div>

                                      <div class="post-slide2">
                                         <li class="nav-item" role="presentation">
          <button class="nav-link" id="tab_sec5" data-bs-toggle="tab" data-bs-target="#sec-tab-pane5" type="button" role="tab" aria-controls="sec-tab-pane5" aria-selected="false">Things to do</button>
       </li>
                                      </div>

                                      <div class="post-slide2">
                                         <li class="nav-item" role="presentation">
          <button class="nav-link" id="tab_sec6" data-bs-toggle="tab" data-bs-target="#sec-tab-pane6" type="button" role="tab" aria-controls="sec-tab-pane6" aria-selected="false">/Tour Package</button>
       </li>
                                      </div>
                                      
                                  </div> -->
    
       
    <div class="tab-content tab_content" id="myTabContent">
       <div class="tab-pane fade show active" id="sec-tab-pane1" role="tabpanel" aria-labelledby="tab_sec1" tabindex="0">
          <div class="row">
             <div class="col-6 col-sm-3">
                <ul class="page_list">
                   <li><a routerLink="/tour/chardhaam-packages">Chardhaam Packages</a></li>
                   <li><a routerLink="/tour/do-dhaam-packages">Do Dham Packages</a></li>
                   <li><a routerLink="/tour/kedarnath-packages">Kedarnath Packages</a></li>
                   <li><a routerLink="/tour/badrinath-packages">Badrinath Packages</a></li>
                   <li><a routerLink="/tour/kedarnath-badrinath-packages">Kedarnath Badrinath Packages</a></li>
                </ul>
             </div>
             <div class="col-6 col-sm-3">
                <ul class="page_list">
                   <li><a routerLink="/tour/auli-chopta-packages">Auli Chopta Packages</a></li>
                   <li><a routerLink="/tour/badrinath-auli-chopta-packages">Badrinath Auli Chopta Packages</a></li>
                   <li><a routerLink="/tour/chardham-packages">4 Dham Packages</a></li>
                   <li><a routerLink="/tour/do-dhaam-packages">2 dham Packages</a></li>
                   <li><a routerLink="/tour/mussorie-auli-chopta-packages">Mussorie Auli Chopta Packages</a></li>
                </ul>
             </div>
             <div class="col-6 col-sm-3">
                <ul class="page_list">
                   <li><a routerLink="/tour/ayodhya-packages">Ayodhya Packages</a></li>
                   <li><a routerLink="/tour/varanasi-packages">Varanasi Packages</a></li>
                   <li><a routerLink="/tour/prayagraj-packages">Prayagraj Packages</a></li>
                   <li><a routerLink="/tour/kashi-packages">Kashi Packages</a></li>
                   <li><a routerLink="/tour/jaipur-packages">Jaipur Packages</a></li>
                </ul>
             </div>
             <div class="col-6 col-sm-3">
                <ul class="page_list">
                   <li><a routerLink="/tour/manali-packages">Manali Packages</a></li>
                   <li><a routerLink="/tour/kerala-packages">Kerala Packages</a></li>
                   <li><a routerLink="/tour/uttarakhand-packages">Uttarakhand Packages</a></li>
                   <li><a routerLink="/tour/ladakh-packages">Ladakh Packages</a></li>
                   <!-- <li><a routerLink="/tour/coorg-packages">Coorg Packages</a></li> -->
                   <li><a routerLink="/tour/amarnath-yatra">Amarnath Yatra</a></li>
                </ul>
             </div>
          </div>
       </div>
       <div class="tab-pane fade" id="sec-tab-pane2" role="tabpanel" aria-labelledby="tab_sec2" tabindex="0">
          <div class="row">
             <div class="col-6 col-sm-3">
                <ul class="page_list">
                   <li><a routerLink="/tour/chardham-packages" target="_blank">Places to vist in Yamnotri</a></li>
                   <li><a routerLink="/tour/chardham-packages" target="_blank">Places to vist in Gangotri</a></li>
                   <li><a routerLink="/tour/chardham-packages" target="_blank">Places to vist in Guptkashir</a></li>
                   <li><a routerLink="/tour/chardham-packages" target="_blank">Places to vist in Kedarnath</a></li>
                </ul>
             </div>
             <div class="col-6 col-sm-3">
                <ul class="page_list">
                   <li><a routerLink="/tour/chardham-packages" target="_blank">Places to vist in Badrinath</a></li>
                   <li><a routerLink="/tour/chardham-packages" target="_blank">Places to vist in Auli</a></li>
                   <li><a routerLink="/tour/chardham-packages" target="_blank">Places to vist in Chopta</a></li>
                   <li><a routerLink="/tour/chardham-packages" target="_blank">Places to vist in Auli</a></li>
                </ul>
             </div>
             <div class="col-6 col-sm-3">
                <ul class="page_list">
                   <li><a routerLink="/tour/chardham-packages" target="_blank">Places to vist in Joshimath</a></li>
                   <li><a routerLink="/tour/chardham-packages" target="_blank">Places to vist in Pipalkoti</a></li>
                   <li><a routerLink="/tour/chardham-packages" target="_blank">Places to vist in Mussoire</a></li>
                   <li><a routerLink="/tour/chardham-packages" target="_blank">Places to vist in Srinagar</a></li>
                </ul>
             </div>
             <div class="col-6 col-sm-3">
                <ul class="page_list">
                   <li><a routerLink="/tour/chardham-packages" target="_blank">Places to vist in Rudrpryag</a></li>
                   <li><a routerLink="/tour/chardham-packages" target="_blank">Places to vist in Sonprayag</a></li>
                   <li><a routerLink="/tour/chardham-packages" target="_blank">Places to vist in Barkot</a></li>
                   <li><a routerLink="/tour/chardham-packages" target="_blank">Places to vist in Uttarkashi</a></li>
                </ul>
             </div>
          </div>
       </div>
       <div class="tab-pane fade" id="sec-tab-pane3" role="tabpanel" aria-labelledby="tab_sec3" tabindex="0">
          <div class="row">
             <div class="col-6 col-sm-3">
                <ul class="page_list">
                   <li><a routerLink="/tour/chardham-packages" target="_blank">Best time to visit Kedarnath</a></li>
                   <li><a routerLink="/tour/chardham-packages" target="_blank">Best time to visit Badrinath</a></li>
                   <li><a routerLink="/tour/chardham-packages" target="_blank">Best time to visit Yamnotri</a></li>
                   <li><a routerLink="/tour/chardham-packages" target="_blank">Best time to visit Gangotri</a></li>
                   <li><a routerLink="/tour/chardham-packages" target="_blank">Best time to Yamnotri</a></li>
                </ul>
             </div>
             <div class="col-6 col-sm-3">
                <ul class="page_list">
                   <li><a routerLink="/tour/chardham-packages" target="_blank">Best time to visit Guptkashi</a></li>
                   <li><a routerLink="/tour/chardham-packages" target="_blank">Best time to visit Uttarkashi</a></li>
                   <li><a routerLink="/tour/chardham-packages" target="_blank">Best time to visit Barkot</a></li>
                   <li><a routerLink="/tour/chardham-packages" target="_blank">Best time to visit Rudrpryag</a></li>
                   <li><a routerLink="/tour/chardham-packages" target="_blank">Best time to visit Sonprayag</a></li>
                </ul>
             </div>
             <div class="col-6 col-sm-3">
                <ul class="page_list">
                   <li><a routerLink="/tour/chardham-packages" target="_blank">Best time to visit Auli</a></li>
                   <li><a routerLink="/tour/chardham-packages" target="_blank">Best time to visit Chopta</a></li>
                   <li><a routerLink="/tour/chardham-packages" target="_blank">Best time to visit Tungnath Temple</a></li>
                   <li><a routerLink="/tour/chardham-packages" target="_blank">Best time to visit Vaishno Devi</a></li>
                   <li><a routerLink="/tour/chardham-packages" target="_blank">Best time to visit Rameswaram</a></li>
                </ul>
             </div>
             <div class="col-6 col-sm-3">
                <ul class="page_list">
                   <li><a routerLink="/tour/chardham-packages" target="_blank">Best time to visit Ayodhya</a></li>
                   <li><a routerLink="/tour/chardham-packages" target="_blank">Best time to visit Varanasi</a></li>
                   <li><a routerLink="/tour/chardham-packages" target="_blank">Best time to visit Varanasi</a></li>
                   <li><a routerLink="/tour/chardham-packages" target="_blank">Best time to visit Prayagraj</a></li>
                   <li><a routerLink="/tour/chardham-packages" target="_blank">Best time to visit Kashi</a></li>
                </ul>
             </div>
          </div>
       </div>
       <div class="tab-pane fade" id="sec-tab-pane4" role="tabpanel" aria-labelledby="tab_sec4" tabindex="0">
          <div class="row">
             <div class="col-6 col-sm-3">
                <ul class="page_list">
                   <li><a routerLink="/tour/chardham-packages" target="_blank">How to reach Yamnotri</a></li>
                   <li><a routerLink="/tour/chardham-packages" target="_blank">How to reach Gangotri</a></li>
                   <li><a routerLink="/tour/chardham-packages" target="_blank">How to reach Guptkashi</a></li>
                   <li><a routerLink="/tour/chardham-packages" target="_blank">How to reach Kedarnath</a></li>
                   <li><a routerLink="/tour/chardham-packages" target="_blank">How to reach Badrinath</a></li>
                   <li><a routerLink="/tour/chardham-packages" target="_blank">How to reach Joshimath</a></li>
                </ul>
             </div>
             <div class="col-6 col-sm-3">
                <ul class="page_list">
                   <li><a routerLink="/tour/chardham-packages" target="_blank">How to reach Haridwar</a></li>
                   <li><a routerLink="/tour/chardham-packages" target="_blank">How to reach Chopta</a></li>
                   <li><a routerLink="/tour/chardham-packages" target="_blank">How to reach Auli</a></li>
                   <li><a routerLink="/tour/chardham-packages" target="_blank">How to reach Mussorie</a></li>
                   <li><a routerLink="/tour/chardham-packages" target="_blank">How to reach Tungnath</a></li>
                   <li><a routerLink="/tour/chardham-packages" target="_blank">How to reach Gangotri Temple</a></li>
                </ul>
             </div>
             <div class="col-6 col-sm-3">
                <ul class="page_list">
                   <li><a routerLink="/tour/chardham-packages" target="_blank">How to reach Gangtok</a></li>
                   <li><a routerLink="/tour/chardham-packages" target="_blank">How to reach Darjeeling</a></li>
                   <li><a routerLink="/tour/chardham-packages" target="_blank">How to reach Gulmarg</a></li>
                   <li><a routerLink="/tour/chardham-packages" target="_blank">How to reach Hampi</a></li>
                   <li><a routerLink="/tour/chardham-packages" target="_blank">How to reach Ujjain</a></li>
                   <li><a routerLink="/tour/chardham-packages" target="_blank">How to reach Kolkata</a></li>
                </ul>
             </div>
             <div class="col-6 col-sm-3">
                <ul class="page_list">
                   <li><a routerLink="/tour/chardham-packages" target="_blank">How to reach Shimla</a></li>
                   <li><a routerLink="/tour/chardham-packages" target="_blank">How to reach Lakshadweep</a></li>
                   <li><a routerLink="/tour/chardham-packages" target="_blank">How to reach Auli</a></li>
                   <li><a routerLink="/tour/chardham-packages" target="_blank">How to reach Kedarnath</a></li>
                   <li><a routerLink="/tour/chardham-packages" target="_blank">How to reach Badrinath</a></li>
                   <li><a routerLink="/tour/chardham-packages" target="_blank">How to reach Delhi</a></li>
                </ul>
             </div>
          </div>
       </div>
       <div class="tab-pane fade" id="sec-tab-pane5" role="tabpanel" aria-labelledby="tab_sec5" tabindex="0">
          <div class="row">
             <div class="col-6 col-sm-3">
                <ul class="page_list">
                   <li><a routerLink="/tour/chardham-packages" target="_blank">Things to do in Andaman</a></li>
                   <li><a routerLink="/tour/chardham-packages" target="_blank">Things to do in Shimla</a></li>
                   <li><a routerLink="/tour/chardham-packages" target="_blank">Things to do in Gulmarg</a></li>
                   <li><a routerLink="/tour/chardham-packages" target="_blank">Things to do in New Delhi</a></li>
                </ul>
             </div>
             <div class="col-6 col-sm-3">
                <ul class="page_list">
                   <li><a routerLink="/tour/chardham-packages" target="_blank">Things to do in Manali</a></li>
                   <li><a routerLink="/tour/chardham-packages" target="_blank">Things to do in Ooty</a></li>
                   <li><a routerLink="/tour/chardham-packages" target="_blank">Things to do in Srinagar</a></li>
                   <li><a routerLink="/tour/chardham-packages" target="_blank">Things to do in Jaipur</a></li>
                </ul>
             </div>
             <div class="col-6 col-sm-3">
                <ul class="page_list">
                   <li><a routerLink="/tour/chardham-packages" target="_blank">Things to do in Ladakh</a></li>
                   <li><a routerLink="/tour/chardham-packages" target="_blank">Things to do in Pondicherry</a></li>
                   <li><a routerLink="/tour/chardham-packages" target="_blank">Things to do in Visakhapatnam</a></li>
                   <li><a routerLink="/tour/chardham-packages" target="_blank">Things to do in Puri</a></li>
                </ul>
             </div>
             <div class="col-6 col-sm-3">
                <ul class="page_list">
                   <li><a routerLink="/tour/chardham-packages" target="_blank">Things to do in Lakshadweep</a></li>
                   <li><a routerLink="/tour/chardham-packages" target="_blank">Things to do in Gangtok</a></li>
                   <li><a routerLink="/tour/chardham-packages" target="_blank">Things to do in Chennai</a></li>
                   <li><a routerLink="/tour/chardham-packages" target="_blank">Things to do in Kedarnath</a></li>
                </ul>
             </div>
          </div>
       </div>
       <div class="tab-pane fade" id="sec-tab-pane6" role="tabpanel" aria-labelledby="tab_sec6" tabindex="0">
          <div class="row">
             <div class="col-6 col-sm-3">
                <ul class="page_list">
                   <li><a routerLink="/tour/chardham-packages" target="_blank">Char dham Package</a></li>
                   <li><a routerLink="/tour/chardham-packages" target="_blank">Do Dham Packages</a></li>
                   <li><a routerLink="/tour/chardham-packages" target="_blank">Kedarnath Packages</a></li>
                </ul>
             </div>
             <div class="col-6 col-sm-3">
                <ul class="page_list">
                   <li><a routerLink="/tour/chardham-packages" target="_blank">Kedarnath Badrinath Tungnath Packages</a></li>
                   <li><a routerLink="/tour/chardham-packages" target="_blank">Kedarnath Badrinath Packages</a></li>
                   <li><a routerLink="/tour/chardham-packages" target="_blank">Mussorie Auli Chopta Packages</a></li>
                </ul>
             </div>
             <div class="col-6 col-sm-3">
                <ul class="page_list">
                   <li><a routerLink="/tour/chardham-packages" target="_blank">4 Dham Deluxe Packages</a></li>
                   <li><a routerLink="/tour/chardham-packages" target="_blank">2 Dham Deluxe Packages</a></li>
                   <li><a routerLink="/tour/chardham-packages" target="_blank">Kedarnath Deluxe Package</a></li>
                </ul>
             </div>
             <div class="col-6 col-sm-3">
                <ul class="page_list">
                   <li><a routerLink="/tour/chardham-packages" target="_blank">Ayodhya Packages</a></li>
                   <li><a routerLink="/tour/chardham-packages" target="_blank">Varanasi Packages</a></li>
                   <li><a routerLink="/tour/chardham-packages" target="_blank">Ayodhya Pryagraj Varanasi Packages</a></li>
                </ul>
             </div>
          </div>
       </div>
    </div>
    </div>
</div>
 
 <!--Start of Tawk.to Script-->
<!--<script type="text/javascript">-->
<!--var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();-->
<!--(function(){-->
<!--var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];-->
<!--s1.async=true;-->
<!--s1.src='https://embed.tawk.to/637b8e06b0d6371309d042c7/1gida5ivo';-->
<!--s1.charset='UTF-8';-->
<!--s1.setAttribute('crossorigin','*');-->
<!--s0.parentNode.insertBefore(s1,s0);-->
<!--})();-->
<!--</script>-->
<!--End of Tawk.to Script-->