
<div class="container">
    <h1 class="product-head"> User List</h1>
    <p class="msg"></p> 
    <div *ngIf="loading" id="bodyLoader" class="fixedoverlay loader" >
		<div class="loaderContainer">
			<div class="loaderHolder" style="top:45%;"><img style="margin-left: 47%;" src="https://img.yatracdn.com/content/holidays/images/calloader.gif?v=28.10.2021"/></div>
		</div>
	</div>          
    <table class="table" id="customers" *ngIf="!error && !loading">
      <thead>
        <tr>
            <th>S.no.</th>
          <th>Name</th>
          <th>Email</th>
          <th>Mobile</th>
          <th>Date</th>
          <!-- <th>Image</th> -->
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of userList; let i = index">
            <td>{{i+1}}</td>
          <td><a routerLink="user-card/{{item.id}}">{{item.name}}</a></td>
          <td>{{item.email}}</td>
          <td>{{item.mobile}}</td>
          <td>{{item.date}}</td>
          
          <td><a (click)="deleteItem(item.id)">Delete</a>
            <a (click)="updateItem(item.id)">Update</a></td>
        </tr>
       
      </tbody>
    </table>
  </div>
  <div *ngIf="error && loading" id="bodyLoader" class="fixedoverlay loader" >
    <div class="loaderContainer">
        <div class="loaderHolder" style="top:45%;">
           <i class="fa fa-timers"></i>
           <button (click)="getUserData();">Reload data</button>
        </div>
    </div>
</div>  