.fot-hotel li{
    list-style: none;
    border: 1px solid gray;
    padding: 5px 17px;
    background: #213f98;
    display: inline-block;
    border-radius: 20px;
    margin: 3px 0px;
    color: white;
    font-size: 13px;
}
.heading_slide {
    font-size: 16px;
    font-family: 'Lato', sans-serif;
    font-weight: 600;
    padding-bottom: 12px;
}
.heading-4.heading-4--dark {
    font-size: 22px;
    font-weight: 900;
    padding-bottom: 12px;
}
.heading_slide {
    
    margin-left: 15px;
}
.btn_form{
    padding: 11px;
    
}
.btn_form:hover {
    
    border: none;
    padding: 11px 20px;
    
}
#itinerary{
    margin-bottom: 40px;
}
.page_list li {
    margin-bottom: 12px !IMPORTANT;
}
.page_list a {
    font-size: 14px !important;
    font-family: 'Lato', sans-serif !important;
    color: black;
}
.page_list li {
    margin-bottom: 12px !important;
    padding-top: 5px;
    padding-left: 15px;
}
.mt-5 {
    margin-top: 0rem!important;
}
.img-fluid{
margin-bottom: 48px;
}
@media (max-width:740px){
    .col-sm-12 {
        margin-left: 9px;
        margin-right: -30px;
        width: 96%;
    }
    .btn_form{
        padding: 11px;
        margin-top: 20px;
    }
}